<h1>Samiya Nasim</h1>
<p>This is a site for her b'day. For those of you who do not know who she is, she's currently pursuing BE CSE. She is an amazing debater, athlete, MUNer and a lot lot more. Her list of acheivements would definitely occupy more than this page. It would suffice to know tht she is really good at what she does. Above all, shes an amazing friend.</p>
<p>If you are wondering who made the website, then its her two best frinds. Because we wanted to do something for her on her birthday.</p>
