<%= stylesheet_link_tag 'homeindex' %>
<div class = container-fluid>
<div class="row">
	<div class="col-sm-1 col-md-3">
	</div>
	<div class="col-sm-10 col-md-6 jumbotron" style="background-color:#996633;">
	
	<center>
		<h1>Happy Birthday Samiya !!</h1>
		<div class="well " height="350" width="350" style=" background: -webkit-radial-gradient(rgb(255, 153, 0),rgb(255, 204, 0),rgb(255,255,0)); /* Safari 5.1 to 6.0 */
									    background: -o-radial-gradient(rgb(255, 153, 0),rgb(255, 204, 0),rgb(255,255,0)); /* For Opera 11.6 to 12.0 */
									    background: -moz-radial-gradient(rgb(255, 153, 0),rgb(255, 204, 0),rgb(255,255,0)); /* For Firefox 3.6 to 15 */
									    background: radial-gradient(rgb(255, 153, 0),rgb(255, 204, 0),rgb(255,255,0)); /* Standard syntax (must be last) */">
		<img src="<%= image_path 'samiya_baby.jpg' %>" class="img-circle" alt="Cinque Terre" width="250" height="250">
		<br/><br/>
		<div class="btn-group btn-group-sm">
				<button type="button" class="btn btn-primary">
   				<span class="glyphicon glyphicon-thumbs-up"></span>Like <span class="badge">5</span>
 				</button>
							
		</div>
		</div><!-- well -->
		<p>In august 2012, 3 people walked into SSN College of Engineering, with a few dreams and no expectations, clueless about what fate had in store for them. As a result of a happy accident, they got this.</p><br>
		<img src="<%= image_path 'tripod.jpg' %>" class="img-circle" alt="Cinque Terre" width="250" height="250">
		<br/><br/>
		<p>Today we would like to thank the lucky stars that gave you to this world. For giving us a special friend like no other.</p>
<br/>
		<img src="<%= image_path 'sampaul.jpg' %>"  alt="Cinque Terre" width="250" height="250">
		<p>No matter where you are, whether it's a quarter-mile away or halfway around the world, you'll always be with us and you'll always be our princess of joy.</p>
		<br/><br/>
	</center>
	</div><!-- second column -->

		<div class="col-sm-1 col-md-3">

		</div><!-- third column -->

</div><!-- row -->
</div>
