<%= stylesheet_link_tag 'homeabout' %>
<div class = "container-fluid">		
<div class="row">
				<div class="col-sm-1 col-md-2">
				</div>

				<div class="col-sm-10 col-md-8 jumbotron" style="background-color:rgba(255,0,0,0.5); height: 800px; overflow-y:auto; margin-top: 0">
				<br/>
				<div id ="home" style="font-size:18;color: white;">
				<b>Early Life</b><br/>
				Samiya Nasim was born in Salem on May 3 1995 to Mr.Muhammad Nasimuddin and Dr.Mussarat Feshan.She has an elder brother.
				She later moved to Chennai when her parents got transferred. She attended school at DAV Gopalapuram which she joined in 2001.
				She is currently pursuing her under-graduation in Computer Science and Engineering at SSN College.<br/> </div>
<hr/>
<div id="interests" style="font-size:18; color:white;">
				<b>Her Interests</b><br/>
				She is an excellent athlete and has competed at the state and national levels. She plays most sports.
				She loves reading, and is a huge Potterbuff. She is also Dramione fan girl.
				A movie buff, she can sit and watch movies for an entire day continuously without budging.
				She also loves theatre and has acted in a number of plays.
				</div>
<hr />
<div id="debate" style="font-size:18;color: white;">
				<b>Debating Skills</b><br/>
				Samiya is a debater par excellence. She has been debating right from her schools days and has won many competitions. She has participated and won in many national level debating championships in school. In college too she has won debates at a number of culturals. Debating led to MUNs in college. She has particpated in a number of them and has performed brilliantly. Her speaking skills are at a different level. Her research is impeccable.
</div>
<hr/>
<div id="accomplish" style="font-size:18;color:white;">
				<b>Accomplishments</b><br/>
				Her accomplishments are many. Some of them are:
			<ul><li>Won the silver medal in long jump in CBSE Nationals</li>
			<li>Ranked among the top five individual speakers in the Indian schools Debating Championship</li>
			<li>shortlisted for tryouts to represent Team India at the World Schools Debating Championship</li>
			<li>Won the SSN Best Speaker Contest</li>
			<li>Part of Lights Out Please (LOP) and acted in various plays in diverse roles </li>
			<li>Part of the college tennis team winning a number of tournaments</li>
</ul>
<hr/>
</div>
<div id="future" style="font-size:18;color:white;" >
				<b>What lies ahead</b><br/>
				Samiya sees herself pursuing her higher studies in a reputed university abroad. Followed by a short stint abroad and coming back home. Hopefully a start up back home a few years down the line. She also plans to serve society in all possible ways through her work.
</div>
				</div>

				</div>

				<div class="col-sm-1 col-md-2">
				</div>
			</div>
					<a class='button ctrl' href='#' tabindex='1' title="expand" style="background-color:rgb(0,255,0)"><span class="glyphicon glyphicon-plus"></span></a>
					<ul class='tip ctrl'>
						<li class='slice' title="Early Life"><a href='#home'><span class="glyphicon glyphicon-home" ></span></a></li>
						<li class='slice' title="Her Interests"><a href='#interests'><span class="glyphicon glyphicon-heart-empty"></span></a></li>
						<li class='slice' title="Debating Skills"><a href='#debate'><span class="glyphicon glyphicon-volume-up"></span></a></li>
						<li class='slice' title="Accomplishments"><a href='#accomplish'><span class="glyphicon glyphicon-briefcase"></span></a></li>
						<li class='slice' title="Future Life"><a href='#future'><span class="glyphicon glyphicon-globe"></span></a></li>
					</ul>


		</div>

		
